<div class="card">
<form  [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="text-center">
  <div class="mb-4">
       <select formControlName="rol">
        <option value="" disabled selected>Rol</option>
       <option value="ADMIN" selected>Admin</option>
       <option value="USER">User</option>
       </select>
 </div>
       @if (updateForm.get('rol')?.hasError('required')){
            <div class="error-message" >
                rol requerido.
            </div>
       }

	    <button type="submit">Actualizar</button>
</form>

</div>

