<head>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
  <!-- Barra de navegación -->
<div class="container background">
  <app-header></app-header>
  <div class="content">
    <router-outlet></router-outlet> <!-- Aquí se cargarán los componentes hijos -->
    <app-footer></app-footer>
  </div>

  <!-- <div class="content">
    <app-left-pane></app-left-pane> -->
    <!-- <div class="main">
      <app-main-content>
      	<div class="content">
  		  </div>
      </app-main-content>
    </div> -->
  <!-- </div> -->

</div>


