<!-- Barra de navegación -->
<div class=" background"><!-- Utiliza la clase 'container' para centrar el contenido y hacerlo responsive -->
      <app-header [user]="userName"></app-header>

        @if(status==="error"){
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        }
        @if(status==="ok"){
          <div class="alert alert-success" role="alert">
          {{ message }}
          </div>
      }
        <div class="content">
          <router-outlet></router-outlet> <!-- Aquí se cargarán los componentes hijos -->
        </div>

        <app-footer></app-footer>
</div>
