@if (reservation) {
<div class="card p-4">
        <p> Descripcion: {{ reservation.descripcion }}</p>
        <p>Status: {{ reservation.state }}</p>
        <p>Salon: {{ salon }}</p>
        <p>Fecha de inicio: {{ startDate | date:'yyyy-MM-dd, h:mm a' }}</p>
        <p>Fecha de finalizacion: {{ endDate | date:'yyyy-MM-dd, h:mm a' }}</p>
        <p>Requerimiento: {{reservation.requerimiento}}</p>
        @if (rol === "ADMIN"){
                <button (click)="changeStatusInReservation(reservation.id, 'accepted')" class="">Aceptar</button>
                <button (click)="changeStatusInReservation(reservation.id, 'refused')" class="">Rechazar</button>
                <button class="" (click)="goBack()">Volver...</button>
        }
    </div>
}
