
<header>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <h1>Logo</h1>
        </div>
        <ul class="nav-menu">
          <li><a routerLink="/dashboard/reservations">Reservations</a></li>
          <li><a routerLink="/dashboard/profile">Perfil</a></li>
          @if(admin){
              <li>
                <!--<a routerLink="/dashboard/users">Usuarios</a>-->
                <a class="" [routerLink]="['/dashboard/users']" [queryParams]="{ reload: true }">Usuarios</a>
              </li>
          }
          <li><a  (click)="logout()">Salir</a></li>
        </ul>
      </div>
    </nav>
  </header>