<div class="containe">
    <app-left-pane></app-left-pane>
    
    <div>
        <h1>Reservations</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio error neque optio perferendis accusamus est
            maxime veritatis ea perspiciatis reiciendis obcaecati beatae necessitatibus voluptates voluptate provident
            laudantium, excepturi in! Dicta, quam ab? Magnam ea at alias voluptate itaque! Fuga repellendus vel similique
            repellat quis sed deleniti numquam aliquam, soluta maxime esse beatae magni perferendis tempora eaque iste sint
            natus minus consectetur iusto voluptas necessitatibus! Temporibus amet officiis corrupti quidem repudiandae
            explicabo facere voluptatibus, optio id repellendus, aliquid magnam? Incidunt molestiae adipisci accusamus, in
            recusandae esse neque, voluptate officia, debitis veritatis optio atque voluptatem aperiam consequatur dicta
            voluptas nam itaque ipsum sequi aliquam labore sed! Ipsa qui rerum perspiciatis dolorem natus deserunt illum
            harum, animi vel deleniti velit dolore repudiandae. Nulla nihil, tempore perspiciatis iure quia ea iusto numquam
            provident quaerat doloremque qui reiciendis ex reprehenderit dicta sit rem! In vel expedita doloremque quod
            architecto, fugit, asperiores odit, delectus reprehenderit et necessitatibus id animi non? Iusto placeat porro
            culpa fuga praesentium temporibus suscipit nam similique numquam reiciendis! Blanditiis quibusdam rerum itaque
            veritatis quis assumenda omnis officia animi voluptatum, deserunt saepe dignissimos esse harum consequatur,
            dicta vel quia aliquid sunt est voluptatem iste veniam soluta accusamus. Omnis a nostrum magnam laboriosam esse.
        </p>
    </div>
</div>